---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="ABOUT | RAG">
	<div class="px-4 pt-20">
		<div transition:name="about">
			<AboutMe />
		</div>
		<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
		<Skills />
		<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
	</div>
</Layout>
