---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="CONNECT | RAG">
	<AboutMe />
	<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
</Layout>
