---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="INDEX | RAG">
	<Navbar />
	<Header />
	<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
	<Projects />
	<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
</Layout>
