---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.jsx";
import Projects from "../components/Projects.astro";
import About from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Aportes from "../components/Aportes.astro";
---

<Layout title="INDEX | RAG">
	<div class="px-4 pt-8 md:pt-0">
		<Header client:load />
		<div class="w-full h-[1px] bg-[#484848] mb-16 md:my-20"></div>
		<Aportes />
		<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
		<Projects />
		<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
		<div transition:name="about">
			<About />
		</div>
		<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
		<Experience />
		<div class="w-full h-[1px] bg-[#484848] my-16 md:my-20"></div>
	</div>
</Layout>
