---
const { pathname } = Astro.url;
import ContactHeader from "./ContactHeader.astro";
---

<aside id="about" class="flex flex-col md:flex-row justify-between gap-4 pt-10">
	<div>
		<h2 class="text-4xl xl:text-7xl font-bebas text-white">Sobre mí</h2>
	</div>
	<div class="flex flex-col md:max-w-[50%] gap-8">
		<div class="flex flex-col gap-4">
			<h4 class="text-white text-2xl font-manrope">
				Me dedico al desarrollo fullstack con MERN y estoy en proceso de aprender Python con Django.
			</h4>
			<p class="text-subtext font-manrope xl:text-lg">
				Estudiante de Python en CoderHouse. Estudiante de la tecnicatura superior en programación en Teclab. Experiencia en
				desarrollo de webs dinámicas y trabajando con grupos de desarrolladores y diseñadores con metodologías ágiles. A futuro me
				gustaría terminar la tecnicatura y seguir mis estudios en Siglo XXI - Ing. en Software.
			</p>
		</div>
		{
			pathname === "/" ? (
				<div>
					<a href="/about" class="text-primary font-manrope text-primary-hover w-fit block">
						Más sobre mí
					</a>
				</div>
			) : (
				<ContactHeader />
			)
		}
	</div>
</aside>
