---
const currentYear = new Date().getFullYear();
---

<section
  id="contact"
  class="flex flex-col justify-start md:justify-center gap-10 items-center"
>
  <div class="flex flex-col gap-10">
    <h2 class="text-4xl xl:text-7xl font-bebas text-white text-center">
      ¡Contáctame!
    </h2>
    <div class="flex gap-2 justify-center">
      <a
        href="https://www.linkedin.com/in/ricardoagustingonzalez/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/in.svg" alt="LinkedIn" class="w-8" />
      </a>
      <a
        href="https://github.com/AgustinGonzalez1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/github.svg" alt="GitHub" class="w-8" />
      </a>
      <a
        href="https://www.instagram.com/agustin.tsx/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/ig.svg" alt="Instagram" class="w-8" />
      </a>
      <a
        href="mailto:agus.devvv@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/email.svg" alt="Email" class="w-8" />
      </a>
    </div>
  </div>
  <footer>
    <p class="text-center text-subtext font-manrope text-sm">
      © {currentYear} Ricardo Gonzalez
    </p>
  </footer>
</section>
