---
const { pathname } = Astro.url;
---

<div class="flex gap-4">
  <a
    href="/ricardo-agustin-gonzalez-cv.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="font-manrope flex items-center font-bold bg-primary border-2 border-primary hover:bg-transparent hover:text-white duration-300 rounded-full p-1 px-4 gap-3 text-sm"
  >
    <p>DESCARGAR CV</p>
  </a>

  <a
    href="https://www.linkedin.com/in/ricardoagustingonzalez/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-12 h-12 flex items-center justify-center bg-[#222222] rounded-full hover:bg-transparent border-2 border-[#222222] hover:border-primary duration-300 ease-in-out"
    ><img src="/in.svg" alt="LinkedIn" /></a
  >
  <a
    href="https://github.com/AgustinGonzalez1"
    target="_blank"
    rel="noopener noreferrer"
    class="w-12 h-12 flex items-center justify-center bg-[#222222] rounded-full hover:bg-transparent border-2 border-[#222222] hover:border-primary duration-300 ease-in-out"
    ><img src="/github.svg" alt="GitHub" /></a
  >
</div>
