<div class="flex gap-4">
	<a
		href="#contact"
		class="font-manrope flex items-center font-bold bg-primary border-2 border-primary hover:bg-transparent hover:text-white duration-500 rounded-full p-1 px-4 gap-3 text-sm"
		><p>CONTACTAME</p>
	</a>
	<a
		href="https://www.linkedin.com/in/ricardoagustingonzalez/"
		target="_blank"
		rel="noopener noreferrer"
		class="w-12 h-12 flex items-center justify-center bg-[#222222] rounded-full hover:rotate-[360deg] border-2 border-[#222222] hover:border-primary duration-500 ease-in-out"
		><img src="/in.svg" alt="" /></a
	>
	<a
		href="https://github.com/AgustinGonzalez1"
		target="_blank"
		rel="noopener noreferrer"
		class="w-12 h-12 flex items-center justify-center bg-[#222222] rounded-full hover:rotate-[360deg] border-2 border-[#222222] hover:border-primary duration-500 ease-in-out"
		><img src="/github.svg" alt="" /></a
	>
</div>
