---
import ContacHeader from "./ContactHeader.astro";
---

<header class="flex flex-col gap-16 md:flex-row md:gap-20 pt-10">
	<section class="flex flex-col gap-8 justify-center">
		<div class="flex flex-col gap-3">
			<h1 class="text-5xl font-bebas text-white xl:text-8xl">Hola, soy <br /> Ricardo Gonzalez.</h1>
			<p class="text-subtext font-manrope lg:text-lg">
				Desarrollador Full Stack MERN, aprendiendo Python. Apasionado por crear sitios web accesibles y fáciles de usar.
			</p>
		</div>
		<ContacHeader />
	</section>
	<section class="mx-auto max-w-80 sm:max-w-[400px] md:max-w-[600px]"><img src="/profile.png" alt="" /></section>
</header>
