---
import arrow from "../../public/arrow.svg";
---

<header>
	<section class="mt-10 flex flex-col gap-8">
		<div class="flex flex-col gap-3">
			<h1 class="text-5xl font-bebas text-white">Hola, soy <br /> Ricardo Gonzalez.</h1>
			<p class="text-subtext font-manrope">
				Desarrollador Full Stack MERN, aprendiendo Python. Apasionado por crear sitios web accesibles y fáciles de usar.
			</p>
		</div>
		<div class="flex gap-4">
			<button class="font-manrope flex items-center font-bold bg-primary rounded-full p-1 pl-4 gap-3 text-sm"
				><p>CONTACTAME</p>
				<div class="w-10 h-10 rounded-full flex items-center justify-center bg-black">
					<img src="/arrow.svg" alt="" />
				</div></button
			>
			<button class="w-12 h-12 flex items-center justify-center bg-[#222222] rounded-full"><img src="/in.svg" alt="" /></button>
			<button class="w-12 h-12 flex items-center justify-center bg-[#222222] rounded-full"
				><img src="/github.svg" alt="" /></button
			>
		</div>
	</section>
	<section></section>
</header>
